html {
  font-size: 10px;
}

body {
  font-family: 'Inter', sans-serif;
  color: #100A30;
  font-size: 16px;
}

header, section, footer {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/*********************Header***********************/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1232px;
  padding: 30px 15px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px 15px;
  }
  .header .header__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 465px) {
  .header {
    padding-bottom: 0;
  }
}

.container {
  max-width: 1232px;
  padding: 0px 15px;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

@media (max-width: 465px) {
  .nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__item {
    margin-bottom: 25px;
  }
}

.nav__item {
  margin-left: 4.4rem;
}

@media (max-width: 465px) {
  .nav__item {
    margin-left: 0;
    margin-right: 2.4rem;
  }
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:last-child {
  margin-left: 2.7rem;
}

@media (max-width: 465px) {
  .nav__item:last-child {
    margin-left: 0;
    margin-right: 0;
  }
}

.nav__link {
  color: #100A30;
}

.nav__btn {
  font-size: 1.4rem;
  background-color: #624DE3;
  color: #FFFFFF;
  text-decoration: none;
  padding: 1.6rem 2.6rem;
  border-radius: .6rem;
}

@media (max-width: 465px) {
  .nav__btn {
    padding: 1.2rem 2rem;
  }
}

/*************************Section Banner************************/
.banner {
  text-align: center;
  background-color: #100A30;
  color: #FFFFFF;
}

.banner .container {
  padding-top: 4.4%;
  padding-bottom: 52%;
}

.banner__title {
  font-size: 5.5rem;
  font-weight: 400;
  max-width: 570px;
  margin: 0 auto 3.1rem;
}

@media (max-width: 800px) {
  .banner__title {
    font-size: 4.5rem;
  }
}

@media (max-width: 600px) {
  .banner__title {
    font-size: 3.6rem;
  }
}

@media (max-width: 400px) {
  .banner__title {
    font-size: 2.6rem;
    margin: 0 auto 1.1rem;
  }
}

@media (max-width: 600px) {
  .banner .banner__text {
    line-height: 1.5;
  }
}

.banner .container {
  position: relative;
}

.banner__img {
  width: 98%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.banner .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4.5%;
}

.banner .btn-group__btn {
  display: inline-block;
  border: 1px solid #FFFFFF;
  font-size: 1.6rem;
  padding: 1.7rem 3.7rem;
  color: #FFFFFF;
  border-radius: .6rem;
  margin: 0 .8rem;
  margin-bottom: 10px;
}

@media (max-width: 450px) {
  .banner .btn-group__btn {
    padding: 1.2rem 3rem;
  }
}

.banner .btn-group__btn-main {
  font-size: 1.5rem;
  background-color: #624DE3;
  border: 1px solid #624DE3;
  padding: 1.6rem 3.7rem;
}

/*************************Section section************************/
.section .container {
  padding-top: 11%;
  padding-bottom: 4%;
}

@media (max-width: 900px) {
  .section .container {
    padding-bottom: 0;
  }
}

.section__title {
  padding-top: 60px;
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  padding-left: 27px;
}

@media (max-width: 600px) {
  .section__title {
    padding-left: 0px;
    font-size: 3.4rem;
  }
}

@media (max-width: 400px) {
  .section__title {
    font-size: 2.2rem;
  }
}

.tarif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5.3%;
}

@media (max-width: 1250px) {
  .tarif {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.tarif-item {
  width: 395px;
}

@media (max-width: 1250px) {
  .tarif-item {
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 1250px) and (max-width: 600px) {
  .tarif-item {
    margin-right: 0px;
  }
}

.tarif-item .tarif-header {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .8rem .8rem 0 0;
}

.tarif-item .tarif-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 148px 0 24px 30px;
}

@media (max-width: 400px) {
  .tarif-item .tarif-info {
    padding: 100px 0 24px 30px;
  }
}

.tarif-item .tarif-info__title {
  font-size: 2.4rem;
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
  padding-top: 14px;
}

.tarif-item .tarif-info__title::before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  left: 0;
  background-image: url(../images/card-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 6.1rem;
  height: 1.6rem;
}

.tarif-item .tarif-info__price {
  padding-top: 20px;
  font-size: 4.8rem;
  font-weight: 400;
  margin: 0;
  color: #FFFFFF;
  padding-right: 37px;
}

@media (max-width: 400px) {
  .tarif-item .tarif-info__price {
    padding-top: 35px;
    font-size: 3rem;
    padding-right: 15px;
  }
}

.tarif-item .tarif-info__price span {
  font-size: 1.5rem;
}

.tarif-item-01 .tarif-header {
  background-image: url(../images/tarif-01-bg.svg);
}

.tarif-item-01 .tarif-footer {
  background-color: rgba(16, 10, 48, 0.03);
}

.tarif-item-01 .tarif-list__item::before {
  background-image: url(../images/check-01.svg);
}

.tarif-item-02 .tarif-header {
  background-image: url(../images/tarif-02-bg.svg);
}

.tarif-item-02 .tarif-footer {
  background-color: rgba(25, 199, 135, 0.05);
}

.tarif-item-02 .tarif-list__item::before {
  background-image: url(../images/check-02.svg);
}

.tarif-item-03 .tarif-header {
  background-image: url(../images/tarif-03-bg.svg);
}

.tarif-item-03 .tarif-footer {
  background-color: rgba(252, 185, 52, 0.05);
}

.tarif-item-03 .tarif-list__item::before {
  background-image: url(../images/check-03.svg);
}

.tarif-footer {
  border-radius: 0 0 .8rem .8rem;
  padding: 1.4rem 3rem;
}

.tarif-list__item {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.tarif-list__item::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: calc(50% - 1rem);
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/*******************************Section reviews****************************/
.reviews .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px 0 15px;
  padding-top: 9.3%;
  padding-bottom: 5%;
}

@media (max-width: 900px) {
  .reviews .container {
    padding-top: 3%;
  }
}

.reviews .container .column {
  -webkit-box-flex: 48%;
      -ms-flex: 48%;
          flex: 48%;
  max-width: 48%;
}

@media (max-width: 900px) {
  .reviews .container .column {
    -webkit-box-flex: 90%;
        -ms-flex: 90%;
            flex: 90%;
    max-width: 90%;
    margin: 0 auto;
  }
}

.reviews .container .reviews__title {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
  font-size: 4.8rem;
  font-weight: 700;
  padding-right: 18%;
  padding-bottom: 0.8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 900px) {
  .reviews .container .reviews__title {
    margin-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .reviews .container .reviews__title {
    font-size: 3.4rem;
  }
}

@media (max-width: 400px) {
  .reviews .container .reviews__title {
    font-size: 2.2rem;
  }
}

.reviews .container .reviews__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 37px 27px 40px;
  border-radius: 8px;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .reviews .container .reviews__item {
    padding: 25px 17px 10px 20px;
    margin-bottom: 20px;
  }
}

.reviews .container .reviews__item .review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 38px;
}

@media (max-width: 600px) {
  .reviews .container .reviews__item .review__header {
    margin-bottom: 20px;
  }
}

.reviews .container .reviews__item .review__header .review__user {
  margin-right: 5px;
}

.reviews .container .reviews__item .review__header .review__avatar {
  margin-right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .reviews .container .reviews__item .review__header .review__avatar {
    width: 38px;
    height: 38px;
  }
}

.reviews .container .reviews__item .review__header .user__name {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .reviews .container .reviews__item .review__header .user__name {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
}

@media (max-width: 600px) {
  .reviews .container .reviews__item .review__header .user__acc {
    font-size: 1.4rem;
  }
}

.reviews .container .reviews__item .review__header .review__icon {
  margin-left: auto;
  width: 24px;
  height: 24px;
}

.reviews .container .reviews__item .review__body {
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.18px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .reviews .container .reviews__item .review__body {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
}

.reviews .container .reviews__item .review__footer {
  line-height: 3;
  font-size: 1.6rem;
  font-weight: 700;
}

.reviews .container .reviews__item:nth-of-type(1) {
  background-color: #E8E5FB;
}

.reviews .container .reviews__item:nth-of-type(2) {
  background-color: #E8FAF3;
}

.reviews .container .column:last-of-type .reviews__item:nth-of-type(1) {
  background-color: #FDEBEE;
}

.reviews .container .column:last-of-type .reviews__item:nth-of-type(2) {
  background-color: #E6F3FF;
}

.reviews .container .column:last-of-type .reviews__item:nth-of-type(3) {
  background-color: #FFF5E1;
}

/*************************Section footer************************/
footer {
  background-color: #F8F8F9;
}

.footer {
  max-width: 1232px;
  margin: 0 auto;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 0px 57px 0px;
}

@media (max-width: 1250px) {
  .footer .container {
    width: 90%;
  }
}

@media (max-width: 1050px) {
  .footer .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .container .footer__item {
  width: 225px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
}

@media (max-width: 1050px) {
  .footer .container .footer__item {
    width: 40%;
    margin-right: 5%;
    margin-bottom: 3%;
  }
}

@media (max-width: 600px) {
  .footer .container .footer__item {
    width: 100%;
    margin: 0 auto 6%;
  }
}

.footer .container .footer__item .footer__title {
  font-weight: 700;
  margin-bottom: 4px;
}

@media (max-width: 600px) {
  .footer .container .footer__item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .container .footer__item ul li {
    margin-right: 30px;
    margin-bottom: 5px;
  }
  .footer .container .footer__item ul li:first-of-type {
    width: 100%;
  }
}

.footer .container .footer__logo {
  width: 92px;
  height: 24px;
  margin-bottom: 24px;
}

.footer .container .footer__logo + .footer__social-item {
  width: 100%;
  margin-top: 14px;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .footer .container .footer__logo + .footer__social-item {
    margin-bottom: 14px;
  }
}

.footer .container .footer__icon {
  display: inline-block;
  width: 20px;
  height: 24px;
  margin-right: 24px;
}
/*# sourceMappingURL=style.css.map */